<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Validation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for message in messages %}
                <p> {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Please enter you Email Address</h1>
    <form action="/submit" method="POST">
        Email Address:<input type="text" name="email">
        {{email}}
        <input type="submit" value="Submit">

    </form>
</body>
</html>